<div data-w-id="fdff0346-d115-968e-8569-6bdc11488832" style="opacity:0;-webkit-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="content-wrap dark _40-padding best-coach">
        <div class="best-coaching-columns w-row">
          <div class="no-padding-column w-col w-col-5">
            <div class="image-cta-section"></div>
          </div>
          <div class="right-column-best-coaching w-col w-col-7">
            <div>
              <h2 class="white-h2">{{ texts.-1da2f93e }}</h2>
              <div class="subheading white">{{ texts.-2ffb1ff1 }}</div>
              <div class="space-32"></div>
              <div class="left-align">
                <a href="{{ links.-3384cb4 }}" class="cta white w-inline-block">
                  <div>{{ texts.-64104400 }}</div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>