<div class="section wf-section">
    <div class="main-container">
      <div data-w-id="f1dfad55-9997-5e31-f7fd-bfa36ab40ad0" class="content-wrap dark _40-padding best-coach">
        <div class="best-coaching-columns w-row">
          <div class="no-padding-column w-col w-col-5">
            <div class="image-cta-section"></div>
          </div>
          <div class="right-column-best-coaching w-col w-col-7">
            <div>
              <h2 class="white-h2">{{ texts.-2ee1ebcf }}</h2>
              <div class="subheading white">{{ texts.a81531d }}</div>
              <div class="space-32"></div>
              <div class="left-align">
                <a href="{{ links.33ed0901 }}" class="cta white w-inline-block">
                  <div>{{ texts.43219700 }}</div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>